In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
import numpy as np
import random

In [4]:
def box_office_1000(url, year):
    col_names=['rank', 'title', 'worldwide $', 'domestic $', 'domestic %', 'foreign $', 'foreign %']
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    container = soup.find('div', class_='a-section imdb-scroll-table-inner')
    tables = container.find('table').findAll('tr')
    for f in range(1,101):
        time.sleep(random.uniform(1, 3))
        film_row = tables[f]
        cols = film_row.findAll('td')
        row_dict={}
        row_dict['year']=year
        c=0
        for col in cols:
            col_name = col_names[c]
            row_dict[col_name] = col.text
            c+=1
        box_office_list.append(row_dict)

In [5]:
box_office_list = []

def next_year():
    for d in range(10):
        year = 2021 - d
        string_year = str(year)
        base_url = 'https://www.boxofficemojo.com/year/world/'
        url = base_url + string_year + "/"
        box_office_1000(url, string_year)    
        
next_year()
box_office_1000_df = pd.DataFrame(box_office_list)
box_office_1000_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom","$822,009,764",-,-,"$822,009,764",100%
1,2021,2,F9: The Fast Saga,"$714,398,815","$172,931,815",24.2%,"$541,467,000",75.8%
2,2021,3,Detective Chinatown 3,"$686,257,563",-,-,"$686,257,563",100%
3,2021,4,Godzilla vs. Kong,"$467,863,133","$100,563,133",21.5%,"$367,300,000",78.5%
4,2021,5,Black Widow,"$377,665,240","$183,177,333",48.5%,"$194,487,907",51.5%
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,"$68,267,862","$35,353,000",51.8%,"$32,914,862",48.2%
996,2012,97,Moonrise Kingdom,"$68,263,166","$45,512,466",66.7%,"$22,750,700",33.3%
997,2012,98,The Secret of the Gods,"$67,537,798",-,-,"$67,537,798",100%
998,2012,99,Madea's Witness Protection,"$66,899,242","$65,653,242",98.1%,"$1,246,000",1.9%
999,2012,100,Beauty and the Beast 2012 3D Release,"$62,767,829","$47,617,067",75.9%,"$15,150,762",24.1%

In [6]:
box_office_1000_df.dtypes

year           object
rank           object
title          object
worldwide $    object
domestic $     object
domestic %     object
foreign $      object
foreign %      object
dtype: object

In [49]:
bo_1000_clean_df = box_office_1000_df.applymap(lambda x: x[1:].replace(',', '') if  x[0] == "$" else x)
bo_1000_clean_df = bo_1000_clean_df.applymap(lambda x: x[:-1] if  x[-1] == "%" else x)
bo_1000_clean_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,-,-,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,-,-,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,-,-,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [50]:
bo_1000_clean_df = bo_1000_clean_df.applymap(lambda x: '0' if  x == "-" else x)
bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,0,0,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,0,0,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,0,0,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [54]:
bo_1000_clean_df[['domestic %', 'foreign %']] = bo_1000_clean_df[['domestic %', 'foreign %']].applymap(lambda x: x[1:] if x[0] == '<' else x)
bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,0,0,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,0,0,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,0,0,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [56]:

bo_1000_clean_df[['worldwide $', 'domestic $', 'foreign $', 'domestic %', 'foreign %']] = bo_1000_clean_df[['worldwide $', 'domestic $', 'foreign $', 'domestic %', 'foreign %']].astype(float)
bo_1000_clean_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1

In [57]:

bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1

In [58]:
bo_1000_clean_df.to_csv('top_1000_bo.csv')

In [60]:
df = pd.read_csv('top_1000_bo.csv')
df.head(1000)

,Unnamed: 0,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...,...
995,995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1