In [123]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
import numpy as np
import random
import json

In [4]:
def box_office_1000(url, year):
    col_names=['rank', 'title', 'worldwide $', 'domestic $', 'domestic %', 'foreign $', 'foreign %']
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    container = soup.find('div', class_='a-section imdb-scroll-table-inner')
    tables = container.find('table').findAll('tr')
    for f in range(1,101):
        time.sleep(random.uniform(1, 3))
        film_row = tables[f]
        cols = film_row.findAll('td')
        row_dict={}
        row_dict['year']=year
        c=0
        for col in cols:
            col_name = col_names[c]
            row_dict[col_name] = col.text
            c+=1
        box_office_list.append(row_dict)

In [5]:
box_office_list = []

def next_year():
    for d in range(10):
        year = 2021 - d
        string_year = str(year)
        base_url = 'https://www.boxofficemojo.com/year/world/'
        url = base_url + string_year + "/"
        box_office_1000(url, string_year)    
        
next_year()
box_office_1000_df = pd.DataFrame(box_office_list)
box_office_1000_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom","$822,009,764",-,-,"$822,009,764",100%
1,2021,2,F9: The Fast Saga,"$714,398,815","$172,931,815",24.2%,"$541,467,000",75.8%
2,2021,3,Detective Chinatown 3,"$686,257,563",-,-,"$686,257,563",100%
3,2021,4,Godzilla vs. Kong,"$467,863,133","$100,563,133",21.5%,"$367,300,000",78.5%
4,2021,5,Black Widow,"$377,665,240","$183,177,333",48.5%,"$194,487,907",51.5%
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,"$68,267,862","$35,353,000",51.8%,"$32,914,862",48.2%
996,2012,97,Moonrise Kingdom,"$68,263,166","$45,512,466",66.7%,"$22,750,700",33.3%
997,2012,98,The Secret of the Gods,"$67,537,798",-,-,"$67,537,798",100%
998,2012,99,Madea's Witness Protection,"$66,899,242","$65,653,242",98.1%,"$1,246,000",1.9%
999,2012,100,Beauty and the Beast 2012 3D Release,"$62,767,829","$47,617,067",75.9%,"$15,150,762",24.1%

In [6]:
box_office_1000_df.dtypes

year           object
rank           object
title          object
worldwide $    object
domestic $     object
domestic %     object
foreign $      object
foreign %      object
dtype: object

In [49]:
bo_1000_clean_df = box_office_1000_df.applymap(lambda x: x[1:].replace(',', '') if  x[0] == "$" else x)
bo_1000_clean_df = bo_1000_clean_df.applymap(lambda x: x[:-1] if  x[-1] == "%" else x)
bo_1000_clean_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,-,-,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,-,-,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,-,-,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [50]:
bo_1000_clean_df = bo_1000_clean_df.applymap(lambda x: '0' if  x == "-" else x)
bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,0,0,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,0,0,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,0,0,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [54]:
bo_1000_clean_df[['domestic %', 'foreign %']] = bo_1000_clean_df[['domestic %', 'foreign %']].applymap(lambda x: x[1:] if x[0] == '<' else x)
bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764,0,0,822009764,100
1,2021,2,F9: The Fast Saga,714398815,172931815,24.2,541467000,75.8
2,2021,3,Detective Chinatown 3,686257563,0,0,686257563,100
3,2021,4,Godzilla vs. Kong,467863133,100563133,21.5,367300000,78.5
4,2021,5,Black Widow,377665240,183177333,48.5,194487907,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862,35353000,51.8,32914862,48.2
996,2012,97,Moonrise Kingdom,68263166,45512466,66.7,22750700,33.3
997,2012,98,The Secret of the Gods,67537798,0,0,67537798,100
998,2012,99,Madea's Witness Protection,66899242,65653242,98.1,1246000,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829,47617067,75.9,15150762,24.1

In [56]:

bo_1000_clean_df[['worldwide $', 'domestic $', 'foreign $', 'domestic %', 'foreign %']] = bo_1000_clean_df[['worldwide $', 'domestic $', 'foreign $', 'domestic %', 'foreign %']].astype(float)
bo_1000_clean_df

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1

In [57]:

bo_1000_clean_df.head(1000)

,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...
995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1

In [58]:
bo_1000_clean_df.to_csv('top_1000_bo.csv')

In [3]:
df = pd.read_csv('top_1000_bo.csv')
df.head(1000)

,Unnamed: 0,year,rank,title,worldwide $,domestic $,domestic %,foreign $,foreign %
0,0,2021,1,"Hi, Mom",822009764.0,0.0,0.0,822009764.0,100.0
1,1,2021,2,F9: The Fast Saga,714398815.0,172931815.0,24.2,541467000.0,75.8
2,2,2021,3,Detective Chinatown 3,686257563.0,0.0,0.0,686257563.0,100.0
3,3,2021,4,Godzilla vs. Kong,467863133.0,100563133.0,21.5,367300000.0,78.5
4,4,2021,5,Black Widow,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...,...,...
995,995,2012,96,The Watch,68267862.0,35353000.0,51.8,32914862.0,48.2
996,996,2012,97,Moonrise Kingdom,68263166.0,45512466.0,66.7,22750700.0,33.3
997,997,2012,98,The Secret of the Gods,67537798.0,0.0,0.0,67537798.0,100.0
998,998,2012,99,Madea's Witness Protection,66899242.0,65653242.0,98.1,1246000.0,1.9
999,999,2012,100,Beauty and the Beast 2012 3D Release,62767829.0,47617067.0,75.9,15150762.0,24.1

In [181]:
df = df[['title', 'year', 'worldwide $', 'domestic $', 'domestic %', 'foreign $', 'foreign %']]
df
df.to_csv('df.csv')

,title,year,worldwide $,domestic $,domestic %,foreign $,foreign %
0,"Hi, Mom",2021,822009764.0,0.0,0.0,822009764.0,100.0
1,F9: The Fast Saga,2021,714398815.0,172931815.0,24.2,541467000.0,75.8
2,Detective Chinatown 3,2021,686257563.0,0.0,0.0,686257563.0,100.0
3,Godzilla vs. Kong,2021,467863133.0,100563133.0,21.5,367300000.0,78.5
4,Black Widow,2021,377665240.0,183177333.0,48.5,194487907.0,51.5
...,...,...,...,...,...,...,...
995,The Watch,2012,68267862.0,35353000.0,51.8,32914862.0,48.2
996,Moonrise Kingdom,2012,68263166.0,45512466.0,66.7,22750700.0,33.3
997,The Secret of the Gods,2012,67537798.0,0.0,0.0,67537798.0,100.0
998,Madea's Witness Protection,2012,66899242.0,65653242.0,98.1,1246000.0,1.9
999,Beauty and the Beast 2012 3D Release,2012,62767829.0,47617067.0,75.9,15150762.0,24.1

In [187]:
df.to_csv('df.csv')

In [182]:
english_df = df[df['domestic %'] >= 5]
non_english_df = df[df['domestic %'] <= 5]

In [188]:
english_df.to_csv('english_df.csv')
non_english_df.to_csv('non_english_df.csv')

In [184]:
english_df.insert(4, "imdb_code", "No_code")

In [186]:
english_df.set_index('imdb_code')

,title,year,worldwide $,domestic $,domestic %,foreign $,foreign %
imdb_code,,,,,,,
No_code,F9: The Fast Saga,2021,714398815.0,172931815.0,24.2,541467000.0,75.8
No_code,Godzilla vs. Kong,2021,467863133.0,100563133.0,21.5,367300000.0,78.5
No_code,Black Widow,2021,377665240.0,183177333.0,48.5,194487907.0,51.5
No_code,A Quiet Place Part II,2021,297372261.0,160072261.0,53.8,137300000.0,46.2
No_code,Free Guy,2021,277748887.0,102882486.0,37.0,174866401.0,63.0
...,...,...,...,...,...,...,...
No_code,Anna Karenina,2012,68929150.0,12816367.0,18.6,56112783.0,81.4
No_code,The Watch,2012,68267862.0,35353000.0,51.8,32914862.0,48.2
No_code,Moonrise Kingdom,2012,68263166.0,45512466.0,66.7,22750700.0,33.3
No_code,Madea's Witness Protection,2012,66899242.0,65653242.0,98.1,1246000.0,1.9
No_code,Beauty and the Beast 2012 3D Release,2012,62767829.0,47617067.0,75.9,15150762.0,24.1

In [177]:
with open('C:/Users/james/.secret/patronOmdb.txt', 'r') as f:
    data = f.read()

In [190]:
english_df.iloc[0,0]

'F9: The Fast Saga'

In [164]:
def url_maker(year, title):
    url = 'http://www.omdbapi.com/?t=' + title + '&y=' + year + '&apikey=' + data
    return url

def title_corrector(title):
    if title == 'F9: The Fast Saga':
        title = 'F9'
    return title

def get_page(url):
    response=requests.get(url)
    movie_data = json.loads(response.content.decode('utf-8')) 
    return movie_data

dud_url=[]
retrieve_error=[]
no_error = []

for m in range(724):
    movie = english_df.iloc[m,0]
    title = movie.replace(',', '%2C').replace (' ', '+').replace (':', '%3A')
    year = str(df.iloc[m,1])
    url = url_maker(year, movie)
    try:
        movie_data = get_page(url)
        if "Error" in movie_data:  
            prev_year = (str(int(year) -1))
            url = url_maker(prev_year, movie)
            movie_data = get_page(url)
            if "Error" in movie_data:
                alt_title = title_corrector(movie)
                url = url_maker(api_year, alt_title)
                movie_data = get_page(url)
                if "Error" in movie_data:
                    film_error = movie + " - " + movie_data_t['Error'] + "\n"
                    retrieve_error.append(prev_film_error)
                else:
                    
                    # add idmb, download the relevant keys 
                    no_error.append(movie)  
            else:
                no_error.append(movie)  
        else:
            no_error.append(movie)
    except:
        dud_url.append(movie)
        
#print(dud_url)
#print(retrieve_error)
#print(no_error)

['Demon Slayer: Mugen Train', 'Dragon Ball Super: Broly', 'Baahubali 2: The Conclusion', 'The Commuter', 'The Angry Birds Movie', 'Teenage Mutant Ninja Turtles 2: Out of the Shadows', 'The Divergent Series: Insurgent', 'Ride Along 2', 'The 5th Wave', 'Crimson Peak', "Lee Daniels' The Butler", 'Jurassic Park 2013 Re-release', 'Instructions Not Included', 'Scary Movie V', 'Titanic 2012 3D Release', "We're the Millers", 'Last Vegas', 'Walking with Dinosaurs 3D', 'Star Wars: Episode I - The Phantom Menace 2012 3D Release', 'Finding Nemo 2012 3D Release', 'Beauty and the Beast 2012 3D Release']
[]
['The Suicide Squad', 'Space Jam: A New Legacy', 'Peter Rabbit 2: The Runaway', 'Tom and Jerry', 'Raya and the Last Dragon', 'The Boss Baby: Family Business', 'Wrath of Man', 'PAW Patrol: The Movie', 'Old', 'Mortal Kombat', 'The Forever Purge', "Hitman's Wife's Bodyguard", 'Candyman', 'Nobody', "Don't Breathe 2", 'Escape Room: Tournament of Champions', 'In the Heights', 'Spirit Untamed', 'Spiral', 'Snake Eyes', 'Nomadland', 'The Unholy', 'The Little Things', 'Respect', 'Chaos Walking', 'The Courier', 'Those Who Wish Me Dead', 'The Marksman', 'Reminiscence', 'The Green Knight', 'Stillwater', 'Minari', 'Malignant', 'The Night House', 'Bad Boys for Life', 'Tenet', 'Sonic the Hedgehog', 'Dolittle', 'The Croods: A New Age', 'Birds of Prey', 'Wonder Woman 1984', 'The Invisible Man', 'Onward', 'The Call of the Wild', 'The New Mutants', 'Fantasy Island', 'Unhinged', 'Monster Hunter', 'Underwater', 'The War with Grandpa', 'Bloodshot', 'Honest Thief', 'Like a Boss', 'Emma.', 'The Father', 'Gretel & Hansel', 'The Photograph', 'Brahms: The Boy II', 'The Turning', 'Promising Young Woman', 'I Still Believe', 'Freaky', 'The Way Back', 'The Personal History of David Copperfield', 'Come Play', 'News of the World', 'Let Him Go', 'The Hunt', 'Avengers: Endgame', 'The Lion King', 'Frozen II', 'Spider-Man: Far from Home', 'Captain Marvel', 'Joker', 'Star Wars: Episode IX - The Rise of Skywalker', 'Toy Story 4', 'Aladdin', 'Jumanji: The Next Level', 'Fast & Furious Presents: Hobbs & Shaw', 'How to Train Your Dragon: The Hidden World', 'Maleficent: Mistress of Evil', 'It Chapter Two', 'Pokémon Detective Pikachu', 'The Secret Life of Pets 2', 'Alita: Battle Angel', 'Godzilla: King of the Monsters', '1917', 'Once Upon a Time... In Hollywood', 'Shazam!', 'Dumbo', 'John Wick: Chapter 3 - Parabellum', 'Knives Out', 'Terminator: Dark Fate', 'Parasite', 'Us', 'Men in Black: International', 'X-Men: Dark Phoenix', 'Glass', 'Annabelle Comes Home', 'Ford v Ferrari', 'Little Women', 'The Addams Family', 'Rocketman', 'Downton Abbey', 'The Lego Movie 2: The Second Part', 'Abominable', 'Gemini Man', 'Spies in Disguise', 'Hustlers', 'Escape Room', 'Yesterday', 'The Angry Birds Movie 2', 'Angel Has Fallen', 'Ad Astra', 'Midway', 'The Upside', 'The Curse of La Llorona', 'Zombieland: Double Tap', 'Last Christmas', 'Dora and the Lost City of Gold', 'Wonder Park', 'The Gentlemen', 'Pet Sematary', 'Good Boys', 'Scary Stories to Tell in the Dark', 'The Hustle', 'Crawl', 'Five Feet Apart', 'Rambo: Last Blood', 'Jojo Rabbit', "A Dog's Way Home", 'Cold Pursuit', "A Dog's Journey", 'A Madea Family Funeral', 'Cats', "Charlie's Angels", 'Doctor Sleep', 'What Men Want', 'After', 'Playing with Fire', 'A Beautiful Day in the Neighborhood', 'War', 'Happy Death Day 2U', 'Avengers: Infinity War', 'Black Panther', 'Jurassic World: Fallen Kingdom', 'Incredibles 2', 'Aquaman', 'Bohemian Rhapsody', 'Venom', 'Mission: Impossible - Fallout', 'Deadpool 2', 'Fantastic Beasts: The Crimes of Grindelwald', 'Ant-Man and the Wasp', 'Ready Player One', 'The Meg', 'Ralph Breaks the Internet', 'Hotel Transylvania 3: Summer Vacation', 'The Grinch', 'Bumblebee', 'A Star Is Born', 'Rampage', 'Mamma Mia! Here We Go Again', 'Solo: A Star Wars Story', 'Spider-Man: Into the Spider-Verse', 'Fifty Shades Freed', 'The Nun', 'Peter Rabbit', 'Mary Poppins Returns', 'A Quiet Place', 'Green Book', 'Skyscraper', "Ocean's Eight", 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Halloween', 'Crazy Rich Asians', 'Creed II', 'Smallfoot', 'Christopher Robin', 'The Equalizer 2', 'The Mule', 'The Nutcracker and the Four Realms', 'Insidious: The Last Key', 'The Predator', 'Red Sparrow', 'The First Purge', 'A Wrinkle in Time', 'The House with a Clock in Its Walls', 'Instant Family', 'Game Night', 'First Man', 'Book Club', 'Night School', 'Alpha', 'A Simple Favor', 'The Favourite', 'Truth or Dare', 'I Feel Pretty', 'Blockers', 'BlacKkKlansman', 'Goosebumps 2: Haunted Halloween', 'Overboard', 'Sherlock Gnomes', 'Robin Hood', 'I Can Only Imagine', 'Mortal Engines', 'Den of Thieves', 'Hereditary', 'Tag', 'Sanju', 'Vice', 'Widows', 'Sicario: Day of the Soldado', 'Searching', 'The Spy Who Dumped Me', 'Star Wars: Episode VIII - The Last Jedi', 'Beauty and the Beast', 'The Fate of the Furious', 'Despicable Me 3', 'Jumanji: Welcome to the Jungle', 'Spider-Man: Homecoming', 'Guardians of the Galaxy Vol. 2', 'Thor: Ragnarok', 'Wonder Woman', 'Coco', 'Pirates of the Caribbean: Dead Men Tell No Tales', 'It', 'Justice League', 'Logan', 'Transformers: The Last Knight', 'Kong: Skull Island', 'The Boss Baby', 'Dunkirk', 'War for the Planet of the Apes', 'The Greatest Showman', 'Kingsman: The Golden Circle', 'The Mummy', 'Cars 3', 'Fifty Shades Darker', 'Murder on the Orient Express', 'xXx: Return of Xander Cage', 'The Lego Batman Movie', 'Annabelle: Creation', 'Wonder', 'Ferdinand', 'Split', 'Blade Runner 2049', 'Get Out', 'Alien: Covenant', 'Paddington 2', 'Baby Driver', 'Valerian and the City of a Thousand Planets', 'Geostorm', 'The Emoji Movie', "A Dog's Purpose", 'Smurfs: The Lost Village', 'The Shape of Water', 'Pitch Perfect 3', "Daddy's Home 2", 'The Post', 'Baywatch', "The Hitman's Bodyguard", 'John Wick: Chapter 2', 'Ghost in the Shell', 'Three Billboards Outside Ebbing, Missouri', 'Darkest Hour', 'King Arthur: Legend of the Sword', 'The Foreigner', 'Power Rangers', 'Girls Trip', 'American Made', 'A Bad Moms Christmas', 'Happy Death Day', 'Captain Underpants: The First Epic Movie', 'The Lego Ninjago Movie', 'The Dark Tower', 'Jigsaw', 'Life', 'Atomic Blonde', 'The Shack', 'Tiger Zinda Hai', 'Going in Style', 'Rings', 'Lady Bird', 'The Nut Job 2: Nutty by Nature', 'American Assassin', 'Victoria & Abdul', 'The Mountain Between Us', 'The Star', 'How to Be a Latin Lover', '47 Meters Down', 'Everything, Everything', 'Captain America: Civil War', 'Rogue One: A Star Wars Story', 'Finding Dory', 'Zootopia', 'The Jungle Book', 'The Secret Life of Pets', 'Batman v Superman: Dawn of Justice', 'Fantastic Beasts and Where to Find Them', 'Deadpool', 'Suicide Squad', 'Doctor Strange', 'Moana', 'Sing', 'X-Men: Apocalypse', 'Kung Fu Panda 3', 'La La Land', 'Warcraft', 'Jason Bourne', 'Ice Age: Collision Course', 'Independence Day: Resurgence', 'The Legend of Tarzan', 'Trolls', 'Star Trek Beyond', 'The Great Wall', 'Now You See Me 2', 'The Conjuring 2', 'Resident Evil: The Final Chapter', 'Passengers', 'Alice Through the Looking Glass', "Miss Peregrine's Home for Peculiar Children", 'Sully', "Assassin's Creed", 'Hidden Figures', 'Ghostbusters', 'Inferno', 'Central Intelligence', "Bridget Jones's Baby", 'Me Before You', 'London Has Fallen', 'Arrival', 'The BFG', 'Bad Moms', 'Storks', 'Hacksaw Ridge', 'Allegiant', 'The Girl on the Train', "The Huntsman: Winter's War", 'The Magnificent Seven', 'Jack Reacher: Never Go Back', "Don't Breathe", 'The Accountant', 'Lights Out', "Pete's Dragon", 'Sausage Party', 'Lion', 'Mechanic: Resurrection', 'Deepwater Horizon', 'Allied', 'The Shallows', 'The Purge: Election Year', 'Why Him?', 'Office Christmas Party', 'How to Be Single', '10 Cloverfield Lane', 'Neighbors 2: Sorority Rising', 'Dirty Grandpa', 'Ben-Hur', 'Money Monster', 'My Big Fat Greek Wedding 2', 'Collateral Beauty', 'Sultan', 'War Dogs', 'Nerve', 'Ouija: Origin of Evil', 'Underworld: Blood Wars', 'Manchester by the Sea', 'The Boss', 'Mike and Dave Need Wedding Dates', 'Kubo and the Two Strings', 'Star Wars: Episode VII - The Force Awakens', 'Jurassic World', 'Furious 7', 'Avengers: Age of Ultron', 'Minions', 'Spectre', 'Inside Out', 'Mission: Impossible - Rogue Nation', 'The Hunger Games: Mockingjay - Part 2', 'The Martian', 'Fifty Shades of Grey', 'Cinderella', 'The Revenant', 'Ant-Man', 'Hotel Transylvania 2', 'San Andreas', 'Terminator Genisys', 'Kingsman: The Secret Service', 'Home', 'Mad Max: Fury Road', 'The Good Dinosaur', 'Taken 3', 'The SpongeBob Movie: Sponge Out of Water', 'Maze Runner: The Scorch Trials', 'Pitch Perfect 2', 'The Peanuts Movie', 'Pixels', "Daddy's Home", 'Spy', 'Alvin and the Chipmunks: The Road Chip', 'Ted 2', 'Tomorrowland', 'Everest', 'Straight Outta Compton', 'The Intern', 'Jupiter Ascending', 'Creed', 'Fantastic Four', 'Bridge of Spies', 'Focus', 'Goosebumps', 'The Hateful Eight', 'Gods of Egypt', 'The Last Witch Hunter', 'Trainwreck', 'Point Break', 'The Big Short', 'Pan', 'Magic Mike XXL', 'Insidious: Chapter 3', 'Get Hard', 'Paul Blart: Mall Cop 2', 'Vacation', 'The Man from U.N.C.L.E.', 'Shaun the Sheep Movie', 'Sisters', 'Chappie', 'Joy', 'Black Mass', 'Spotlight', 'The Visit', 'Poltergeist', 'In the Heart of the Sea', 'Southpaw', 'The Second Best Exotic Marigold Hotel', 'Paper Towns', 'Sicario', 'Hitman: Agent 47', 'The Wedding Ringer', 'Paranormal Activity: The Ghost Dimension', 'Bajrangi Bhaijaan', 'War Room', 'The Transporter Refueled', 'Transformers: Age of Extinction', 'The Hobbit: The Battle of the Five Armies', 'Guardians of the Galaxy', 'Maleficent', 'The Hunger Games: Mockingjay - Part 1', 'X-Men: Days of Future Past', 'Captain America: The Winter Soldier', 'Dawn of the Planet of the Apes', 'The Amazing Spider-Man 2', 'Interstellar', 'Big Hero 6', 'How to Train Your Dragon 2', 'American Sniper', 'Godzilla', 'Rio 2', 'Teenage Mutant Ninja Turtles', 'The Lego Movie', 'Lucy', 'Penguins of Madagascar', 'Edge of Tomorrow', 'Gone Girl', 'Night at the Museum: Secret of the Tomb', 'Noah', 'The Maze Runner', '300: Rise of an Empire', '22 Jump Street', 'The Fault in Our Stars', 'Divergent', 'Paddington', 'Mr. Peabody & Sherman', 'Neighbors', 'Exodus: Gods and Kings', 'Annabelle', 'Hercules', 'RoboCop', 'The Imitation Game', 'Non-Stop', 'Dracula Untold', 'The Expendables 3', 'Into the Woods', 'Fury', 'Need for Speed', 'The Other Woman', 'The Equalizer', 'The Grand Budapest Hotel', 'Dumb and Dumber to', 'Into the Storm', 'Unbroken', 'The Monuments Men', 'Ride Along', 'Planes: Fire & Rescue', "Let's Be Cops", 'Annie', 'Jack Ryan: Shadow Recruit', 'Blended', 'Sex Tape', 'The Theory of Everything', 'The Nut Job', 'Pompeii', 'Seventh Son', 'The Purge: Anarchy', 'The Boxtrolls', 'Horrible Bosses 2', 'Ouija', 'Birdman or (The Unexpected Virtue of Ignorance)', 'Transcendence', 'Heaven Is for Real', 'Alexander and the Terrible, Horrible, No Good, Very Bad Day', 'Tammy', 'PK', 'The Book of Life', 'Paranormal Activity: The Marked Ones', 'The Hundred-Foot Journey', 'Deliver Us from Evil', 'A Million Ways to Die in the West', 'Step Up All in', 'John Wick', 'The Judge', 'Muppets Most Wanted', 'If I Stay', 'I, Frankenstein', 'Frozen', 'Iron Man 3', 'Despicable Me 2', 'The Hobbit: The Desolation of Smaug', 'The Hunger Games: Catching Fire', 'Fast & Furious 6', 'Monsters University', 'Gravity', 'Man of Steel', 'Thor: The Dark World', 'The Croods', 'World War Z', 'Oz the Great and Powerful', 'Star Trek Into Darkness', 'The Wolverine', 'Pacific Rim', 'The Wolf of Wall Street', 'G.I. Joe: Retaliation', 'The Hangover Part III', 'The Great Gatsby', 'Now You See Me', 'The Smurfs 2', 'The Conjuring', 'A Good Day to Die Hard', 'Oblivion', 'Elysium', 'Turbo', 'Cloudy with a Chance of Meatballs 2', 'Epic', 'The Lone Ranger', 'American Hustle', 'Grown Ups 2', 'After Earth', 'Planes', 'Hansel & Gretel: Witch Hunters', 'Captain Phillips', 'White House Down', 'Percy Jackson: Sea of Monsters', 'Jack the Giant Slayer', 'The Secret Life of Walter Mitty', '12 Years a Slave', 'Identity Thief', 'Anchorman 2: The Legend Continues', 'Olympus Has Fallen', 'Insidious: Chapter 2', 'Lone Survivor', 'Bad Grandpa', '47 Ronin', 'RED 2', 'Mama', 'Escape Plan', '2 Guns', 'This Is the End', "Ender's Game", 'Prisoners', 'Saving Mr. Banks', 'Warm Bodies', 'Free Birds', 'Gangster Squad', 'Philomena', 'Blue Jasmine', 'Riddick', 'Safe Haven', 'Evil Dead', '42', 'The Mortal Instruments: City of Bones', 'Rush', 'The Internship', 'The Purge', 'Dhoom 3', 'Pain & Gain', 'About Time', 'Snowpiercer', 'Carrie', 'The Family', 'R.I.P.D.', 'The Book Thief', 'Escape from Planet Earth', 'August: Osage County', 'The Best Man Holiday', 'The Counselor', 'The Call', 'One Direction: This Is Us', 'The Avengers', 'Skyfall', 'The Dark Knight Rises', 'The Hobbit: An Unexpected Journey', 'Ice Age: Continental Drift', 'The Twilight Saga: Breaking Dawn - Part 2', 'The Amazing Spider-Man', "Madagascar 3: Europe's Most Wanted", 'The Hunger Games', 'Men in Black 3', 'Life of Pi', 'Ted', 'Brave', 'Wreck-It Ralph', 'Les Misérables', 'Django Unchained', 'Prometheus', 'Snow White and the Huntsman', 'Taken 2', 'Hotel Transylvania', 'The Lorax', 'Journey 2: The Mysterious Island', 'The Expendables 2', 'Rise of the Guardians', 'Battleship', 'Wrath of the Titans', 'John Carter', 'The Bourne Legacy', 'Lincoln', 'Dark Shadows', 'Resident Evil: Retribution', 'Silver Linings Playbook', 'American Reunion', 'Argo', 'Jack Reacher', 'Safe House', '21 Jump Street', 'Total Recall', 'The Impossible', 'The Vow', 'Mirror Mirror', 'The Dictator', 'Looper', 'Magic Mike', 'Flight', 'Underworld: Awakening', 'This Means War', 'Paranormal Activity 4', 'Step Up Revolution', 'The Best Exotic Marigold Hotel', 'Zero Dark Thirty', 'Ghost Rider: Spirit of Vengeance', 'Cloud Atlas', 'The Woman in Black', 'Chronicle', 'The Pirates! Band of Misfits', 'Parental Guidance', 'Abraham Lincoln: Vampire Hunter', 'Pitch Perfect', 'Hope Springs', 'ParaNorman', 'The Campaign', 'Project X', 'The Devil Inside', 'The Lucky One', 'Contraband', 'Think Like a Man', 'This Is 40', 'The Possession', "What to Expect When You're Expecting", 'Savages', 'Sinister', 'Act of Valor', 'Frankenweenie', 'The Grey', 'Diary of a Wimpy Kid: Dog Days', 'To Rome with Love', 'Here Comes the Boom', 'The Cabin in the Woods', 'Anna Karenina', 'The Watch', 'Moonrise Kingdom', "Madea's Witness Protection"]

In [165]:
testeri=requests.get('http://www.omdbapi.com/?i=tt11032374&apikey=727131f3')
print(testeri.content)

b'{"Title":"Kimetsu no Yaiba: Mugen Ressha-Hen","Year":"2020","Rated":"R","Released":"23 Apr 2021","Runtime":"117 min","Genre":"Animation, Action, Adventure","Director":"Haruo Sotozaki","Writer":"Koyoharu Gotouge","Actors":"Natsuki Hanae, Akari Kit\xc3\xb4, Yoshitsugu Matsuoka","Plot":"After his family was brutally murdered and his sister turned into a demon, Tanjiro Kamado\'s journey as a demon slayer began. Tanjiro and his comrades embark on a new mission aboard the Mugen Train, on track to despair.","Language":"Japanese","Country":"Japan","Awards":"3 wins & 3 nominations","Poster":"https://m.media-amazon.com/images/M/MV5BODI2NjdlYWItMTE1ZC00YzI2LTlhZGQtNzE3NzA4MWM0ODYzXkEyXkFqcGdeQXVyNjU1OTg4OTM@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"8.3/10"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"8.3","imdbVotes":"32,566","imdbID":"tt11032374","Type":"movie","DVD":"N/A","BoxOffice":"$47,700,000","Production":"N/A","Website":"N/A","Response":"True"}'

In [160]:
testert=requests.get('http://www.omdbapi.com/?t=Impasse&y=2021&apikey=727131f3')
print(testert.content)

b'{"Response":"False","Error":"Movie not found!"}'